.container {
  display: flex;
  justify-content: start;
}
.container .table {
  text-align: center;
  margin-left: 20%;
}
.container .table__button__popbox__on {
  height: -webkit-max-content;
  height: max-content;
}

.main-info span {
  color: red;
}

.table__navbar {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid grey;
  background: #dbd2a1;
}
.table__navbar .table__navbar__cell {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  height: auto;
  width: -webkit-max-content;
  width: max-content;
  padding: 10px;
}

.popbox {
  width: 500px;
  height: 500px;
  background: #e4e0e0;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  border: 0.5px solid lightgrey;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  box-shadow: lightgrey -1px 4px 12px 5px;
}
.popbox .popbox__close {
  text-align: right;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 93%;
  margin-top: 2%;
}

.unvisible {
  display: none;
}

button {
  cursor: pointer;
}

input {
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 10px 0 0 8px;
  outline-style: none;
}